
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin-bottom: 60px;
    
}

body,
footer {
    background-color: #1e1e1e;
    color: white;
}

div,
a,
.table {
    color: white;
    text-decoration: none;
}

/* header ------------------------------------------------------------------- */

.header_main{
    height: 60px;
    border-bottom:1px solid #fff;
    display:flex;
    align-items:center;
    margin-bottom: 10px
}

.header_main .my_container a{
    font-size: 28px;
}

    .header_main .my_container a:hover {
        color: #fff;
    }

.my_container {
    transform: translateX(30px)
}

/* Botão -------------------------------------------------------------------- */
.my_btn {
    border: .5px solid #fff;
    line-height: 0px;

    border-radius: 7.5px;
    padding: 4px 6px;
    height: 30px;
    transition: .25s;

    color: white;
    margin-right: 10px;

    
}

.action_my_btn {
    background-color: purple;
}

.delete_my_btn {
    background-color: darkred;
    
}

    .my_btn:hover {
        color: #fff;
        border-color: purple;
        filter: brightness(1.5);
        background-color: purple;
        box-shadow: 0 0 30px purple, 0 0 30px purple;
    }

    .delete_my_btn:hover {
        color: #fff;
        filter: brightness(1.5);
        border-color:darkred;
        background-color:darkred;
        box-shadow: 0 0 30px darkred, 0 0 30px darkred;
    }

    

